* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.head {
  background: #000;
}
.head li a {
  color: white;
}
.head ul {
  width: 30%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 5px;
}
.register-form {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 500px;
}
.register-form ul {
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.register-form h1 {
  margin-bottom: 10px;
}
.register-form span {
  width: 100px;
  display: inline-block;
}
.register-form button {
  margin-top: 10px;
  background: #000;
  color: white;
  border: none;
  padding: 5px;
  transition: 0.3s;
  border-radius: 3px;
}
button:hover {
  background: gray;
}
